@media (max-width: 768px) {
  .video-player {
    width: 100%;
    background: 0 0;
  }
  .video-player iframe {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
  #frame {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
}

* {
  font-family: helvetica, arial, sans-serif;
}

body {
  font-size: 16px;
}

.bbtn {
  width: 100%;
  max-width: 449px;
}

@media (max-width: 768px) {
  .video-player {
    margin-top: 0 !important;
  }
}

.a-btn {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    border: 0;
    font: montserrat;
    vertical-align: baseline;
    color: #2e82bc;
    outline: 0;
    line-height: 1;
    text-align: center;
    position: relative !important;
    display: inline-block !important;
    border-style: solid;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 10px;
    padding: 22px 44px;
    border-color: #0ae80d;
    border-width: 0px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #00FF19 0%, #00FF19 100%); 
    box-shadow: 0 0 10px 0 #A6A6A6; /* Sombra do botão */ 
    text-decoration: none!important;
    width:100%;
    max-width: 370px
    }
    .span-btn {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 15px;
    white-space: normal;
    font-size: 20px;
    color: #000000;
    font-family: cabin;
    font-weight: bold;
    text-shadow: #000000 0px 0px 0px;
    text-decoration: none;
    }
    .span-btn2 {
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      padding: 0; border: 0;
      font: inherit; 
      vertical-align: baseline; 
      display: block; 
      position: relative;
      z-index: 1; 
      margin: .2em 0 -.5em; 
      font-size: 15px; 
      color: #f5e051; 
      font-family: Cabin; 
      font-weight: bold; 
      font-style: italic;
      text-shadow: #000000 0px 1px 0px;
    }

.zoom-in-out {
      animation:zoom-in-zoom-out 1.5s ease infinite}@keyframes zoom-in-zoom-out{0%{transform:scale(1,1)}50%{transform:scale(1.07,1.07)}100%{transform:scale(1,1)}}

.quadro {
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      padding: 0; border: 0;
      font: montserrat; 
      vertical-align: baseline; 
      display: block; 
      position: relative;
      z-index: 1; 
      margin: .2em 0 -.5em; 
      font-size: 13px; 
      color: #f5e051; 
      font-family: montserrat; 
      font-weight: bold;
      text-shadow: #000000 0px 1px 0px;
      }

/* Vídeo */

.sombra {
  box-shadow: 0 0 15px 0 #ffffff !important; /* Sombra do vídeo */
  justify-content: center;
}